:root {
  --font-size: 1em;
}

body {
  background-color: rgb(20, 21, 23);
}

div#chazzy-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
}

div#chat-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  min-height: 0;
}

div#chat-list-container > div.chat-row:not(:first-of-type) {
  margin-top: 2px;
}

div#chat-list-container > div.chat-row {
  line-height: calc(var(--font-size) * 1.5);
  word-wrap: break-word;
  font-weight: 400;
  color: white;
}

div#chat-list-container > div.chat-row > span.timestamp {
  padding-right: 8px;
  font-weight: 100;
}

div#chat-list-container > div.chat-row > img.badge {
  height: var(--font-size);
  padding-top: calc(var(--font-size) * 0.25);
  padding-right: 6px;
  vertical-align: top;
  object-fit: contain;
}

div#chat-list-container > div.chat-row > span.nickname {
  vertical-align: top;
}

div#chat-list-container > div.chat-row > span.nickname {
  vertical-align: top;
  padding-right: 8px;
}

div#chat-list-container > div.chat-row > span.message {
  vertical-align: top;
}

div#chat-list-container > div.chat-row > span.message.italic {
  font-style: italic;
}

div#chat-list-container > div.chat-row > span.message.deleted {
  opacity: 0.3;
}

div#chat-list-container > div.chat-row > span.message > a {
  color: inherit;
  text-decoration: none;
}

div#chat-list-container > div.chat-row > span.message > a:hover {
  text-decoration: underline;
}

div#chat-list-container > div.chat-row > span.message > img.emoji {
  height: calc(var(--font-size) * 1.5);
  vertical-align: top;
}

div#chat-list-container > div.chat-row > span.message > img.sticker {
  height: calc(var(--font-size) * 3);
  margin-bottom: calc(var(--font-size) * -0.375);
}

div#cheese-chat-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

div#cheese-chat-list-container::-webkit-scrollbar {
  display: none;
}

div#cheese-chat-list-container > div.empty-cheese-chat-row {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.125);
  color: white;
  padding: 12px;
  gap: 4px;
  border-radius: 4px;
  opacity: 0.35;
  animation: 20s linear fadeout;
  line-height: calc(var(--font-size) * 1.25);
}

div#cheese-chat-list-container > div.cheese-chat-row {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;
  font-size: calc(var(--font-size) - 1px);
  background: rgba(255, 255, 255, 0.125);
  box-shadow: inset 1px 1px 1px 0 hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
  opacity: 0.4;
  animation: 20s linear fadeout;
}

div#cheese-chat-list-container > div.cheese-chat-row.tier1 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.2), transparent),
    linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0)), rgba(65, 39, 118, 1);
}

div#cheese-chat-list-container > div.cheese-chat-row.tier2 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.2), transparent),
    linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0)), rgba(26, 112, 96, 1);
}

div#cheese-chat-list-container > div.cheese-chat-row.tier3 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.2), transparent),
    linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0)), rgba(207, 154, 18, 1);
}

div#cheese-chat-list-container > div.cheese-chat-row.tier4 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.2), transparent),
    linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0)), rgba(193, 52, 61, 1);
}

div#cheese-chat-list-container > div.cheese-chat-row > div {
  padding: 4px 10px;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.content {
  flex: 1;
  line-height: 1.25em;
  padding: 10px 10px 4px 10px;
  text-shadow: black 0 0 1px;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.content > span.timestamp {
  margin-right: 3px;
  font-weight: 200;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.content > span.message {
  font-weight: 700;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.content > span.message > a {
  color: inherit;
  text-decoration: none;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.content > span.message > a:hover {
  text-decoration: underline;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.content > span.message > img.emoji {
  height: 1.25em;
  vertical-align: top;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  line-height: 1.25em;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  padding: 6px 10px 4px 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.footer > div.nickname {
  flex: 1;
  font-weight: 700;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.footer > div.nickname > img.badge {
  height: var(--font-size);
  padding-top: calc(var(--font-size) * 0.125);
  padding-right: 4px;
  vertical-align: top;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.footer > div.cheese {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 13px;
  padding: 4px 8px;
  font-weight: 800;
}

div#cheese-chat-list-container > div.cheese-chat-row > div.footer > div.cheese > svg {
  height: 1em;
  vertical-align: top;
  padding: calc((var(--font-size) - 1px) * 0.125) 6px 0 0;
}

div#status-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
  background-color: rgb(31, 31, 35);
  box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.1);
}

div#status-container > div.status {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 5px;
  min-width: 0;
  max-width: 240px;
}

div#status-container > div.status:first-of-type {
  margin-left: auto;
}

div#status-container > div.divider:nth-last-of-type(2) {
  margin-left: auto;
}

div#status-container > div.status > div.profile-image {
  flex: none;
  background-clip: content-box,border-box;
  background-origin: border-box;
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  min-width: 0;
}

div#status-container > div.status > div.profile-image > img {
  border-radius: 50%;
  margin: 2px;
  vertical-align: top;
  object-fit: cover;
}

div#status-container > div.status > div.profile-status {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-width: 0;
}

div#status-container > div.status > div.profile-status > div.nickname {
  font-size: 13px;
  font-weight: 900;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div#status-container > div.status > div.profile-status > div.live-category {
  font-size: 11px;
  line-height: 13px;
  margin-top: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div#status-container > div.status > div.user-count {
  color: #FF5454;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-left: 8px;
  padding-left: 8px;
  position: relative;
}

div#status-container > div.status > div.user-count > div {
  background-color: currentColor;
  border-radius: 50%;
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
}

div#status-container > div.divider {
  width: 2px;
  height: 16px;
  background-color: white;
  opacity: 0.1;
}

div#status-container > div.spacer {
  flex: 1;
  max-width: 0;
}

div#menu-button {
  height: 40px;
}

div#menu-button > button {
  height: 100%;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

div#menu-button > button:hover,
div#menu-button > button.active {
  background-color: rgba(255, 255, 255, 0.125);
}

div#menu-button > button > svg {
  padding: 8px 0;
}

div#menu-container {
  background-color: rgb(31, 31, 35);
  box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.7), 0 8px 20px 0 rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
}

div#menu-container > div.menu-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

div#menu-container > div.menu-list > a.menu-item {
  padding: 8px;
  line-height: 1.5em;
  color: white;
  text-decoration: none;
}

div#menu-container > div.menu-list > a.menu-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}

div#menu-container > div.menu-list > a.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

div#menu-container > div.menu-list > a.menu-item > svg {
  height: 1em;
  padding: 0.25em 0.5em 0.25em 0;
  vertical-align: top;
}

div#menu-container > div.menu-list > div.divider {
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0.1;
}

@media (max-width: 799px) {
  div#chat-container {
    flex-direction: column-reverse;
  }

  div#cheese-chat-list-container {
    flex: unset;
    height: unset;
    max-height: 25%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
